#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}



#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

@import "compass/css3";

* {box-sizing: border-box;}

body {
  padding: 20px;
}

button.link { background:none; border:none; }


li {
  padding: 5px 30px 5px 10px;
  cursor:pointer;
      display: block;
}
.material-icons {
      background-color: transparent;
      outline: none;
      -webkit-tap-highlight-color: transparent;
      cursor: pointer;
      text-decoration: none;
}
.material-icons.red {
      color: red;
}
.material-icons.blue {
      color: blue;
}
.material-icons:focus {
      background-color: transparent;
      outline: none;
      -webkit-tap-highlight-color: transparent;
      cursor: pointer;
      text-decoration: none;
}

button[type="submit"] {
  border: none;
  background: transparent;
}
